@font-face {
	font-family: 'Rubik';
	src: url('../assets/fonts/Rubik_VF.ttf') format('truetype');
	font-style: normal;
	font-weight: 300 900;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('../assets/fonts/Rubik_Italic_VF.ttf') format('truetype');
	font-style: italic;
	font-weight: 300 900;
	font-display: swap;
}

@font-face {
	font-family: 'MiSans';
	src: url('../assets/fonts/MiSans_VF.ttf') format('truetype');
	font-style: normal;
	font-weight: 200 900;
	font-display: swap;
}

@font-face {
	font-family: 'Literata';
	src: url('../assets/fonts/Literata_VF.ttf') format('truetype');
	font-style: normal;
	font-weight: 200 900;
	font-display: swap;
}

@font-face {
	font-family: 'Literata';
	src: url('../assets/fonts/Literata_Italic_VF.ttf') format('truetype');
	font-style: italic;
	font-weight: 200 900;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif SC';
	src: url('../assets/fonts/NotoSerif_SC_VF.ttf') format('truetype');
	font-style: normal;
	font-weight: 200 900;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('../assets/fonts/JetBrains_Mono.woff2') format('woff2');
	font-style: normal;
	font-weight: 100 800;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter_VF.ttf') format('truetype');
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter_Italic_VF.ttf') format('truetype');
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
}
